 body {
  font-family: Arial;
  background: #eef2f3;
  text-align: center;
}

h1, h2, h3 {
  color: #0a3d62;
}

input, button {
  padding: 10px;
  margin: 8px;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

.btn {
  background: #0a3d62;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 5px;
}

.danger {
  background: #c0392b;
}
